body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    cursor: default;
}

.menu {
    display: none;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateX(100%) translateY(-50%);
    background-color: #00000080;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 900px;
    overflow: auto;
    cursor: auto;
    animation: slideInRight 0.5s ease forwards;
}

.menu::-webkit-scrollbar {
    width: 0px; 
}

.menu h1 {
    background-color: #0f0f0f;
    margin: -10px -10px 20px -10px;
    padding: 20px 20px 20px 80px;
    font-size: 40px;
    color: #ffffff;
    background-image: url('img/logo.png');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    text-align: right;
    background-position: left 5px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.616);
}

.menu h2,
.menu h3 {
    background: linear-gradient(90deg, #cc00ff7e, #6100bb81);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 
        inset 0 0 0 1px rgba(174, 0, 255, 0.247),
        0 0 50px rgba(174, 0, 255, 0.123),
        0 0 20px rgba(174, 0, 255, 0.096);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.616);
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 15px;
}

.menu li {
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 3px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    position: relative;
    padding-left: 30px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.753);
    cursor: pointer;
}

.menu li::before {
    content: '︽';
    position: absolute;
    left: 10px;
    color: black;
    transform: rotate(90deg);
}

.delete-all-btn,
.reset-vehicles-btn,
button {
    width: 90px;
    height: 90px;
    padding: 0;
    background-color: #d8d8d8;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.753);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-size: 55px 55px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.menu li:hover {
    background-color: rgba(216, 216, 216, 0.966);
}

.delete-all-btn:hover,
.reset-vehicles-btn:hover,
button:hover {
    background-color: rgba(216, 216, 216, 0.966);
}

.delete-all-btn {
    background-image: url('img/delete.png');
}

.reset-vehicles-btn {
    background-image: url('img/reset.png');
}

button {
    background-image: url('img/settings.png');
}

.menu input[type="text"],
.menu input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff27;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-weight: normal;
    transition: border-color 0.3s;
    text-transform: uppercase;
}

.menu input[type="text"]:focus,
.menu input[type="number"]:focus {
    border-color: #ffffff;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(-50%);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0) translateY(-50%);
        opacity: 1;
    }
    to {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
}